.skills {
    height: 100vw;
    width: 100vw;

    .title {
        font-weight: bold;
        display: flex;
        color: var(--textcolor);
        font-size: 35px;
    }

    .skillsTitle {
        display: flex;
        color: var(--textcolor);
        font-size: 20px;
    }
}