@import "../../styles/global.scss";
.aboutMe {
  display: flex;
  width: 100vw;

  .title {
    display: flex;
    font-weight: bold;
    color: var(--textcolor);
    font-size: 35px;
  }

  .descriptionHolder {
    text-align: center;
    @include mobile {
      }

    .description {
      color: var(--textcolor);
      line-height: 1.6;
      font-size: 25px;
      @include mobile {
        font-size: 15px;
        display: inline;
      }
    }
  }
}
